

 
 *{
    box-sizing: border-box;
}

body {
    background-image: url("./images/hourglass.jpg");
    margin : 0;
    min-height: 100vh;
    background-size: cover;
    flex-direction: column;

    display: flex;
    background-position: center center;
    font-family: "sans-serif";
    align-items: center;
    ;


}

h1{
    font-weight: normal ;
    font-size: 4rem;
    margin-top: 5rem;
    
}

.countdown-container {
   display:flex;

}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span{
    font-size:1.3rem ;
}